@{ ViewBag.Title = "Home"; }

<div class="text-center">
    <h1 class="display-4">Welcome, @ViewBag.MasseurFullName</h1>
    <partial name="_HomePagePicturePartial"/>
    <a asp-controller="WorkSchedule"
       asp-action="Index"
       class="btn btn-outline-primary" style="margin-top: 20px">
        Check your work schedule
    </a>
</div>