@{ ViewBag.Title = "Home"; }

<div class="text-center">
    @if (ViewBag.ClientFirstName != null)
    {
        <h1 class="display-4">Welcome, @ViewBag.ClientFirstName</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    <partial name="_HomePagePicturePartial"/>
    <a asp-controller="Massages"
       asp-action="All"
       class="btn btn-outline-primary" style="margin-top: 20px">
        Book a massage
    </a>
</div>