@{
    ViewData["Title"] = "Massage Studio Lorem";
}

<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="/images/massage_horizontal.jpg" class="img-fluid" alt="Massage image">
    </div>

<head>
    <title>Booking Table</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://use.fontawesome.com/84fee8031d.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="table">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <table data-vertable="ver1">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1">Sunday</th>
                                <th class="column100 column2" data-column="column2">Monday</th>
                                <th class="column100 column3" data-column="column3">Tuesday</th>
                                <th class="column100 column4" data-column="column4">Wednesday</th>
                                <th class="column100 column5" data-column="column5">Thursday</th>
                                <th class="column100 column6" data-column="column6">Friday</th>
                                <th class="column100 column7" data-column="column7">Saturday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">8:00 AM</td>
                                <td class="column100 column2" data-column="column2">--</td>
                                <td class="column100 column3" data-column="column3">--</td>
                                <td class="column100 column4" data-column="column4">8:00 AM</td>
                                <td class="column100 column5" data-column="column5">--</td>
                                <td class="column100 column6" data-column="column6">5:00 PM</td>
                                <td class="column100 column7" data-column="column7">8:00 AM</td>
                            </tr>

                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">--</td>
                                <td class="column100 column2" data-column="column2">5:00 PM</td>
                                <td class="column100 column3" data-column="column3">5:00 PM</td>
                                <td class="column100 column4" data-column="column4">--</td>
                                <td class="column100 column5" data-column="column5">9:00 AM</td>
                                <td class="column100 column6" data-column="column6">--</td>
                                <td class="column100 column7" data-column="column7">--</td>
                            </tr>

                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">9:00 AM</td>
                                <td class="column100 column2" data-column="column2">--</td>
                                <td class="column100 column3" data-column="column3">--</td>
                                <td class="column100 column4" data-column="column4">--</td>
                                <td class="column100 column5" data-column="column5">--</td>
                                <td class="column100 column6" data-column="column6">2:00 PM</td>
                                <td class="column100 column7" data-column="column7">8:00 AM</td>
                            </tr>

                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">--</td>
                                <td class="column100 column2" data-column="column2">5:00 PM</td>
                                <td class="column100 column3" data-column="column3">5:00 PM</td>
                                <td class="column100 column4" data-column="column4">--</td>
                                <td class="column100 column5" data-column="column5">9:00 AM</td>
                                <td class="column100 column6" data-column="column6">--</td>
                                <td class="column100 column7" data-column="column7">--</td>
                            </tr>

                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">8:00 AM</td>
                                <td class="column100 column2" data-column="column2">--</td>
                                <td class="column100 column3" data-column="column3">--</td>
                                <td class="column100 column4" data-column="column4">8:00 AM</td>
                                <td class="column100 column5" data-column="column5">--</td>
                                <td class="column100 column6" data-column="column6">5:00 PM</td>
                                <td class="column100 column7" data-column="column7">8:00 AM</td>
                            </tr>

                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">--</td>
                                <td class="column100 column2" data-column="column2">5:00 PM</td>
                                <td class="column100 column3" data-column="column3">5:00 PM</td>
                                <td class="column100 column4" data-column="column4">--</td>
                                <td class="column100 column5" data-column="column5">9:00 AM</td>
                                <td class="column100 column6" data-column="column6">--</td>
                                <td class="column100 column7" data-column="column7">--</td>
                            </tr>

                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">9:00 AM</td>
                                <td class="column100 column2" data-column="column2">--</td>
                                <td class="column100 column3" data-column="column3">--</td>
                                <td class="column100 column4" data-column="column4">--</td>
                                <td class="column100 column5" data-column="column5">--</td>
                                <td class="column100 column6" data-column="column6">2:00 PM</td>
                                <td class="column100 column7" data-column="column7">8:00 AM</td>
                            </tr>

                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">8:00 AM</td>
                                <td class="column100 column2" data-column="column2">--</td>
                                <td class="column100 column3" data-column="column3">--</td>
                                <td class="column100 column4" data-column="column4">8:00 AM</td>
                                <td class="column100 column5" data-column="column5">--</td>
                                <td class="column100 column6" data-column="column6">5:00 PM</td>
                                <td class="column100 column7" data-column="column7">8:00 AM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

                <!--===============================================================================================-->
                <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
                <!--===============================================================================================-->
                <script src="/lib/bootstrap/dist/js/popper.js"></script>
                <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
                <!--===============================================================================================-->
                <script src="vendor/select2/select2.min.js"></script>
                <!--===============================================================================================-->
                <script src="js/site.js"></script>

</body>