@model string

<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <div class="mb-4">
            <h6 class="text-uppercase">@Model</h6>
            <hr class="solid">
        </div>
    </div>
</div>  