@model MassageStudioLorem.Areas.Admin.Services.Models.AddCategoryServiceModel
@using static MassageStudioLorem.Global.GlobalConstants.Notifications

@{ ViewBag.Title = "Add Category"; }

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (TempData.ContainsKey(SuccessfullyAddedCategoryKey))
{
    <div class="alert alert-success text-center" role="alert">
        @TempData[SuccessfullyAddedCategoryKey]
    </div>
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="text-muted text-center" style="padding: 5px">

            </div>
            <input class="btn btn-outline-success mt-3 text-center offset-md-5" type="submit" value="Add" />
        </form>
    </div>
</div>