@{ ViewData["Title"] = "Edit Categories"; }

<div class="text-center">
    <a asp-controller="Categories"
       asp-action="AddCategory"
       class="btn btn-outline-success">
        Add Category
    </a>
    <a asp-controller="Categories"
       asp-action="All"
       class="btn btn-outline-danger" style="margin: 10px">
        Remove Category
    </a>
</div>